// https://github.com/doabit/semantic-ui-sass/blob/bd2e7f99bffc93709eae37a2882b4a235c411513/app/assets/stylesheets/semantic-ui/globals/_site.scss#L35
$bodyColor: rgba(0, 0, 0, 0.87)

.posts-wrapper
  .new-post-link-btn
    text-align: right
    a
      font-size: 24px
      line-height: 30px
    &.inverse-margin
      margin-bottom: -20px

.no-posts-message
  margin: 1em 0 !important
  .icon
    margin-left: 1em
    font-size: 2em !important
    margin-right: 0 !important

.posts-index-view
  .post-view
    .content
      white-space: pre-line
    .extra.images
      a
        display: block
        text-align: center
      img
        width: auto !important
        max-width: 100%
        max-height: 240px
        margin: auto !important

.post-show-view
  .content
    & > p
      white-space: pre-line
    &.no-markdown
      white-space: pre-line
  .extra.images
    text-align: center
    img
      width: auto !important
      max-width: 100%
      max-height: 250px
      margin: auto !important
  .twitter-profile-link
    color: $bodyColor

.banner-preview
  max-width: 100%
  margin: auto

.preview-alert-message
  position: absolute
  z-index: 1
  right: 5px

.post-parsed-content-preview-wrapper
  padding-bottom: 2em !important
  max-height: 190px
  overflow: auto
